﻿<head>
    <meta charset="utf-8" />
    <title>Junior Master Gardner Assessment Suite API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<html>
    @RenderSection("Scripts", required: false)
    <body>
        <div class="container body-content">
            @RenderBody()
            @RenderSection("SPAViews", required: false) <!-- TODO: Not sure what this does. --> 
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Junior Master Gardner Assessment Suite</p>
            </footer>
        </div>
        
    </body>
</html>
